---
layout: layout.njk
script: /js/pages/city-focus.js
---

{% block header %}
<header class="column is-12 has-text-centered">
  <section class="section">
    <div class="container has-text-centered">
      <div class="title">
        <i class='bx bxs-map'></i>
        <p id="currentCityTitle" class="title has-text-weight-bold">City</p>
        <p class="subtitle is-4 has-text-weight-bold">Today</p>
      </div>
    </div>
  </section>
</header>
{% endblock %}

{% block content %}
<!-- Additional content can go here -->
{% endblock %}