---
layout: layout.njk
script: /js/pages/preferences.js
---

{% block header %}
<header class="column is-12 has-text-centered">
  <section class="section">
    <div class="container has-text-centered">
      <div class="title">
        <h1 class="title has-text-weight-bold">User Settings</h1>
      </div>
    </div>
  </section>
</header>
<div class="column is-4 has-background-light-green has-text-centered">
  <table class="table favouriteCity">
    <thead>
      <tr>
        <th>Favourite Cities</th>            
      </tr>
    </thead>
            
  </table>
</div>

{% endblock %}

{% block content %}
<!-- Additional content can go here -->
{% endblock %}

